img {
    height:30px;
    width:30px;
    display: block;
    margin:auto
}
p{
    color:black;
    margin-top:0;
    margin-bottom:0;
}
ion-row {
    background:white;
    height:50px;
}

.top-row {
    height: 35px;
}
