<div style="height:100%;background:white">
        <ion-item >
          
      
          <h6 style="margin-left:5px;">I Walked For</h6>
        </ion-item>
        <ion-item>
           
          <h6 style="margin-left:5px;">I Ran for</h6>
        </ion-item>
        <ion-item>
            
          <h6 style="margin-left:5px;">I Biked for</h6>
        </ion-item>
        <ion-item>
           
      
          <h6 style="margin-left:5px;">I Slept for</h6>
        </ion-item>
      </div>
      